html,body{
	width:100%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pacifico{
	@extend %pacifico;
}

.lato{
	@extend %lato;
}

.bebas{
	@extend %bebas;
}

.yellow{
	color:$yellow;
}

.green{
	color:$green;
}

.dark-grey{
	color:$dark-grey;
}


p{
	@extend %lato;

}


h1,h2,h3,h4{
	font-weight: 100;
}