header {
    height: 80px;
    width: 100%;
    @include box-sizing(border-box);
    background: $green;
    border-top: 8px solid $yellow;
    @extend %bebas;
    color: white;
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    @include box-shadow(0 0 10px 5px rgba(0,0,0,0.2));
    .inner {
        @include box-sizing(border-box);
        padding: 0 40px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        .left {
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
            img {
                width: 80%;
                position: absolute;
                bottom: 10px;
                left: 0;
                margin-bottom: 1%;
            }

            .burger{
            	display: none;
            }
        }
        .right {
            width: 50%;
            float: right;
            height: 100%;
            position: relative;
            .call-us {
                font-size: 28px;
                line-height: 28px;
                text-align: right;
                position: absolute;
                bottom: 10px;
                right: 54px;
                a {
                    text-decoration: none;
                }
                .pacifico {
                    font-size: 20px;
                    line-height: 20px;
                }
            }

            .fb{
				width:30px;
				position: absolute;
				right:0;
				bottom:15px;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-size: 28px;
                line-height: 28px;
                position: absolute;
                bottom: 10px;
                left: 0;
                li {
                    display: inline-block;
                    padding: 0 10px;

                    a{
                    	text-decoration: none;
                    	color:white;

                    	&:visited, &:active{
                    		text-decoration: none;
                			color:white;
                    	}

                    	&:hover{
                    		color:$yellow;
                    	}
                    }

                    &.hide{
                    	display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    header {
        .inner {
            .left {
                width: 50%;
                img {
                    width: 90%;
                }
            }
            .right {
                width: 50%;
                float: right;
                height: 100%;
                position: relative;
                .call-us {
                    font-size: 20px;
                    line-height: 20px;
                    text-align: right;
                    position: absolute;
                    bottom: 10px;
                    right: 40px;
                    a {
                        text-decoration: none;
                    }
                    .pacifico {
                        font-size: 18px;
                        line-height: 18px;
                    }
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    line-height: 20px;
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    li {
                        display: inline-block;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    header {
        .inner {
            .left {
                width: 45%;
                img {
                    width: 90%;
                }
            }
            .right {
                width: 55%;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    header {
        .inner {
            .left {
                width: 55%;
                img {
                    width: 90%;
                }

                

            }
            .right {
                width: 45%;

                .fb{
                	top:5px;
                }
				
				.call-us{
					br{
						display: none;
					}
					top:15px;
					right:40px;
				}

				ul{
					left:auto;
					right:0;

					li{
						&.last{
							padding-right:0;
						}
					}
				}
            }
        }
    }
}

@media only screen and (max-width: 550px) {
	.cover{
		position: fixed;
		width:100%;
		height:100%;
		left:100%;
		top:0;
		@include transition(opacity .2s);
		@include opacity(0);
		background:rgba(0,0,0,0.7);
		&.show{
			@include opacity(1);
			left:0;
		}

		z-index:200;
	}

    header {

        .inner {
        	padding:0 20px;
            .left {
                width: 100%;
                height:50%;
                img {
                	bottom: 0;
                	
                    width: 80%;
                }

                .burger{
                	display: block;
                	width:30px;
                	height:20px;
					position: absolute;
					cursor:pointer;
					right:0;
					top:10px;

					span{
						display: block;
						width:30px;
						height:4px;
						position: absolute;
						left:0;
						background: white;

						&.b1{
							top:0;
						}

						&.b2{
							top:8px;
						}

						&.b3{
							bottom:0;
						}
					}

                }
            }
            .right {
                width: 100%;
                height:50%;

                .fb{
                	
                	display: none;
                }
				
				.call-us{
					br{
						display: none;
					}
					top:10px;
					left:0px;
					text-align: left;
				}

				ul{
					position: fixed;
					width:200px;
					right:-200px;
					height:100%;
					top:0;
					@include box-sizing(border-box);
					padding-top:40px;
					background: $green;
					border-left: 2px solid rgba(0,0,0,0.2);
					left:auto;
					@include transition(right .2s);
					@include transform(translateX(0));
					z-index:9999;
					&.show{
						right:0;
					}

					li{
						display: block;
						width:100%;
						height:30px;
						background: $green;
						border-bottom:1px solid rgba(0,0,0,0.2);
						@include box-sizing(border-box);
						padding-left:20px;
						line-height: 30px;

						&.hide{
							display: block;
							border:none;
							.fb{
								display: block;
								position: static;
								padding: 20px 0;
							}
						}
					}
				}
            }
        }
    }
}