
@font-face {
    font-family: 'ebrew';
    src:url('../fonts/ebrew.eot?-til6o8');
    src:url('../fonts/ebrew.eot?#iefix-til6o8') format('embedded-opentype'),
        url('../fonts/ebrew.woff?-til6o8') format('woff'),
        url('../fonts/ebrew.ttf?-til6o8') format('truetype'),
        url('../fonts/ebrew.svg?-til6o8#ebrew') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'ebrew';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-drainage:before {
    content: "\e600";
}
.icon-renovation-services:before {
    content: "\e601";
}
.icon-plumbing:before {
    content: "\e602";
}
.icon-hot-water-systems:before {
    content: "\e603";
}
.icon-gas-fitting:before {
    content: "\e604";
}
.icon-gas-appliances:before {
    content: "\e605";
}



#wrapper {
    section {
        width:100%;
        overflow-x:hidden;
        .outer{
            @include box-sizing(border-box);
            width:100%;
            height: 100%;
            margin:0 auto;
            padding:0 40px;
            max-width: 1200px;

            .inner{
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }



    .home{
        // height:1000px;

        .bg{
            background: url(../img/plumb-bg.jpg) no-repeat center center;
            background-size: cover;
            z-index:-1;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
        }
        

        .need-a-plumber{
            width: 100%;
            left: 0;
            top: 30%;
            position: relative;
            
            
            h2{
                margin:0;
                text-align:center;
                width:100%;
                color:white;
                font-weight: 100;
            }

            .sidelines{
                position: relative;
                // padding:0 20px;
                @include box-sizing(border-box);
                display: inline-block;
                .sideline{
                    position: absolute;
                    width:100px;
                    top:50%;
                    display: block;
                    height:2px;
                    background: white;

                    &.l{
                        right:100%;
                        margin-right: 20px;
                    }   
                    &.r{
                        left:100%;
                        margin-left: 20px;
                    }
                }
            }

            img{
                width:64%;
                padding:6% 0 2%;
                margin:0 auto;
                display: block;
            }

            .call-us{
                padding-top:6%;
            }
        }
    }




    .about{
        border-top:5px solid $yellow;
        background: $green;
        color:white;
        padding: 50px 0 100px;

        .outer{
            .inner{
                .content{
                    width:100%;
                    h1{
                        padding: 20px 0;
                        width:100%;
                        position: relative;
                        text-align: center;
                        color: white;

                        .sidelines{
                            position: relative;
                            padding:0 20px;

                            .sideline{
                                position: absolute;
                                width:100px;
                                top:50%;
                                display: block;
                                height:2px;
                                background: $yellow;

                                &.l{
                                    right:100%;
                                }   
                                &.r{
                                    left:100%;
                                }
                            }
                        }
                    }


                    p{
                        width:100%;
                        max-width:800px;
                        display: block;
                        margin:0 auto;
                        text-align: center;
                        padding:10px 0;

                    }

                    .break{
                        width:100%;
                        height: 40px;
                        float: left;
                    }


                    .main{
                        float: left;
                        width:100%;
                    }

                    h2{
                        width:100%;
                        text-align: center;
                        font-size: 24px;
                        line-height: 26px;
                        padding:10px 0;
                        display: block;
                        float: left;
                    }

                    .half{
                        width:50%;
                        float:left;
                        @include box-sizing(border-box);
                        padding:0 40px;
                        text-align: center;

                        h3{
                            span{
                                border-bottom:1px solid $yellow;
                                padding:0 10px;
                            }
                        }

                        p{
                            padding-top: 0;
                        }

                        &.center{
                            margin-left: 25%;
                        }
                    }

                    .emblem{
                        width: 150px;
                        display: block;
                        margin:40px auto;
                    }


                }
            }
        }
    }


    .services{
        border-top:5px solid $light-green;
        background: $beige;
        color:$dark-grey;
        padding: 50px 0 100px;
            

        .outer{
            .inner{
                .content{
                    width:100%;
                    h1{
                        padding: 20px 0;
                        width:100%;
                        position: relative;
                        text-align: center;

                        .sidelines{
                            position: relative;
                            padding:0 20px;

                            .sideline{
                                position: absolute;
                                width:100px;
                                top:50%;
                                display: block;
                                height:2px;
                                background: $light-green;

                                &.l{
                                    right:100%;
                                }   
                                &.r{
                                    left:100%;
                                }
                            }
                        }
                    }
                    

                        select{
                            display: none;
                        }
                        table{
                            display: table;
                        }
                    

                    table{
                        width:80%;
                        margin:0 auto;
                        height:54px;
                        @include border-radius(10px);
                        border:2px solid $dark-grey;
                        border-collapse: separate;
                        overflow: hidden;
    
                        tr{
                            td{
                                text-align: center;
                                padding:2px 10px 0;
                                border-right:2px solid $dark-grey;
                                vertical-align: middle;

                                @include transition(background-color .4s);


                                &.last{
                                    border:none;
                                }


                                a{
                                    text-decoration: none;
                                    color:#454543;
                                    font-size: 20px;
                                    line-height: 20px;
                                    display: inline-block;
                                    width:100%;
                                    
                                    span{
                                        font-size: 40px;
                                        line-height:45px;
                                        display: inline-block;
                                        // position: relative;
                                        // top:4px;
                                    }
                                    // @include transition(color .4s);

                                }


                                &.selected{
                                    background: $green;

                                    a{
                                        color:white;
                                    }
                                }
                            }
                        }
                    }  

                    .height-holder{
                        width: 100%;
                    }

    
                    .sub-content{
                        padding-top: 50px;
                        width:80%;
                        left:10%;
                        position: absolute;
                        z-index:0;
                        @include opacity(0);
                        @include transition(opacity .4s);

                        &.current{
                            z-index:1;
                            @include opacity(1);
                        }

                        


                        .top{
                            width:100%;
                            float:left;
                            @include box-sizing(border-box);
                            padding:20px 20px 0;
                        }

                        .left{
                            width: 50%;
                            float:left;
                            @include box-sizing(border-box);
                            padding:0 20px 20px;
                            padding-left: 70px;
                        }
                        .right{
                            width: 50%;
                            float:left;
                            @include box-sizing(border-box);
                            padding:0 20px 20px;
                            padding-right: 50px;
                        }
                        .bottom{
                            width: 100%;
                            float:left;
                            @include box-sizing(border-box);
                            padding:20px;
                        }

                        ul{
                            padding-left:20px;
                        }


                        p{
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }


    .contact{
        border-top:4px solid $green;
        position: relative;
        padding-bottom:300px;
        .outer{
            .inner{
                .content{
                    width:100%;
                    h1{
                        padding: 20px 0;
                        width:100%;
                        position: relative;
                        text-align: center;
                        color:$green;

                        .sidelines{
                            position: relative;
                            padding:0 20px;

                            .sideline{
                                position: absolute;
                                width:100px;
                                top:50%;
                                display: block;
                                height:2px;
                                background: $light-grey;

                                &.l{
                                    right:100%;
                                }   
                                &.r{
                                    left:100%;
                                }
                            }
                        }
                    }



                    .wpcf7{
                        width:90%;
                        margin: 0 auto;
                        position: relative;


   
                        .wpcf7-not-valid-tip{
                            display: none;
                        }

                        .wpcf7-validation-errors{
                            display: none;
                        }

                         .wpcf7-mail-sent-ok{
                            display: block;
                            float:left;
                            clear:left;
                            padding-top:20px;
                         }

                        p{
                            margin:0;
                        }

                        input{
                            width:50%;
                            float:left;
                            clear:left;
                            height: 46px;
                            margin-bottom: 31px;
                            @include box-sizing(border-box);


                            &[aria-invalid=true]{
                                border:2px solid red;
                            }

                            &[type=submit]{
                                width:100px;
                                border:2px solid $yellow;
                                background: $green;
                                color:$yellow;
                                @extend %pacifico;
                                padding: 5px;
                                line-height: 30px;
                                font-size: 25px;
                                font-weight: 100;
                                position: absolute;
                                right:0;
                                top:240px;
                                text-shadow:none;
                                line-height: 36px;


                            }
                            border:2px solid $light-grey;
                            border-radius:5px;
                            padding:10px 10px 10px 60px;


                            &[name=your-name]{
                                background: url(../img/name.png) 2px center no-repeat;
                            }

                            &[name=your-email]{
                                background: url(../img/email.png) 2px center no-repeat;
                            }
                            &[name=your-phone]{
                                background: url(../img/phone.png) 2px center no-repeat;
                            }
                        }

                        textarea{
                            width:45%;
                            position: absolute;
                            right:0;
                            top:0;
                            height:200px;
                            @include box-sizing(border-box);
                            resize:none;
                            border:2px solid $light-grey;
                            border-radius:3px;
                            padding:15px 10px 10px 60px;

                            background: url(../img/message.png) 2px 4px no-repeat;

                            &[aria-invalid=true]{
                                border:2px solid red;
                            }
                        }
                    }
                }
            }
        }
        
        .border-top{
            width:100%;
            position: absolute;
            height: 5px;
            top:0;
            left:0;
            background: $yellow;
        }
        
        .border{
            position: absolute;
            width:100%;
            left:0;
            height:5px;
        }

        .border-yellow{
            background:$yellow;
            bottom: 0;
        }
        .border-green{
            background:$light-green;
            bottom: 5px;
        }
        .border-light-green{
            background:$green;
            bottom: 10px;
        }
    }




}


@media only screen and (max-width: 680px) {

    #wrapper{



        .about{

            .outer{

                .inner{

                    .content{

                        .half{
                            width: 100%;
                            padding: 0;

                            &.center{
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }




        .services{

            .outer{

                .inner{

                    .content{

                        select.services-nav{
                            display: block;
                            width:200px;
                            margin:0 auto;
                        }
                        table.services-nav{
                            display: none;

                        }

                        .sub-content{
                            width:90%;
                            left:5%;

                            .top ,.bottom{
                                text-align: center!important;
                                 p{
                                    text-align: center!important;
                                }
                                padding:20px 0;
                            }

                            .left{
                                padding:20px 0;
                                width: 100%;
                                text-align: center!important;

                                p{
                                    text-align: center!important;
                                }
                            }

                            .right{
                                padding:20px 0;
                                width: 100%;
                                text-align: center;

                                li{
                                    text-align: left;
                                }
                            }

                        }

                    }

                }

            }


        }
















        .contact{

            .outer{

                .inner{

                    .content{

                        .wpcf7{

                            input{
                                width:100%;

                                &[type=submit]{
                                    float:right;
                                    position: static;
                                    margin-top:20px;
                                }
                            }

                            textarea{
                                width: 100%;
                                float: left;
                                position: static;
                            }

                        }

                    }

                }

            }

        }

    }

}


