.slider{
    width:100%;
    padding-bottom:29%;
    height:0;
    position:relative;
    overflow:hidden;
    
    .slider-image{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        overflow:hidden;
        @include transform(translate3d(100%,0,0));
        
        .img{
            width:100%;
            height:100%;
            @include transform(translate3d(-95%,0,0));
        }

        &.transition{
            @include transition(transform 1s cubic-bezier(0.655, 0.000, 0.285, 0.995));
            .img{
            @include transition(transform 1s cubic-bezier(0.655, 0.000, 0.285, 0.995));
            }
        }
        &.current{
            @include transform(translate3d(0,0,0));
            .img{
                @include transform(translate3d(0,0,0));
            }
        }
        &.prev{
            @include transform(translate3d(-100%,0,0));
            .img{
                @include transform(translate3d(95%,0,0));
            }
        }
    }

    &.noTransform{
        .slider-image{
            left:100%;
            overflow:hidden;

            .img{
                position:absolute;
                left:-95%;
            }

            &.current{
                left:0;
                .img{
                    left:0;
                }
            }
        }
    }
    
    .arrow{
        position:absolute;
        top:60%;
        width:50px;
        height:50px;
        // background:#222;
        color:$dark-grey;
        cursor:pointer;
        font-size: 60px;

        &:hover{
            color:$off-white;
        }
        
        &.arrow-left{
            left:50px;
        }

        &.arrow-right{
            right:50px;
        }
    }
}