@font-face {
    font-family: 'Bebas Neue';
    src: url("../fonts/BebasNeue.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/BebasNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue.woff") format("woff"), url("../fonts/BebasNeue.ttf") format("truetype"), url("../fonts/BebasNeue.svg#971508b09718b6144e128af2335b709c") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Reg.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Lato-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Reg.woff") format("woff"), url("../fonts/Lato-Reg.ttf") format("truetype"), url("../fonts/Lato-Reg.svg#48e70b8825d557df57af3e4f7d4c31be") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: 'Pacifico';
    src: url("../fonts/Pacifico.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Pacifico.eot?#iefix") format("embedded-opentype"), url("../fonts/Pacifico.woff") format("woff"), url("../fonts/Pacifico.ttf") format("truetype"), url("../fonts/Pacifico.svg#6450a99cde6cde9b3313a016d8c09dd2") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}


%pacifico {
    font-family: 'Pacifico';
}

%lato {
    font-family: 'Lato';
}

%bebas {
    font-family: 'Bebas Neue';
}

$yellow: #fff545;
$green: #4c915e;
$light-green: #8bdf8c;
$dark-grey: #424141;
$light-grey: #8c8c8c;

$yellow: #fff65b;

$beige: #f2f2e0;