<div class="slider">

    <div class="slider-image">
        <div class="img img1"></div>
    </div>

    <div class="slider-image">
        <div class="img img2"></div>
    </div>

    <div class="slider-image">
        <div class="img img3"></div>
    </div>

    

    <div class="arrow arrow-left icon-arrow-left">
    </div>

    <div class="arrow arrow-right icon-arrow-right">
    </div>

</div>