@font-face {
  font-family: 'Bebas Neue';
  src: url('BebasNeue.eot'); /* IE9 Compat Modes */
  src: url('BebasNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('BebasNeue.woff') format('woff'), /* Modern Browsers */
       url('BebasNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('BebasNeue.svg#971508b09718b6144e128af2335b709c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Reg.eot'); /* IE9 Compat Modes */
  src: url('Lato-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lato-Reg.woff') format('woff'), /* Modern Browsers */
       url('Lato-Reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lato-Reg.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Pacifico';
  src: url('Pacifico.eot'); /* IE9 Compat Modes */
  src: url('Pacifico.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Pacifico.woff') format('woff'), /* Modern Browsers */
       url('Pacifico.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Pacifico.svg#6450a99cde6cde9b3313a016d8c09dd2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

