@font-face {
	font-family: 'ebrew';
	src:url('fonts/ebrew.eot?-til6o8');
	src:url('fonts/ebrew.eot?#iefix-til6o8') format('embedded-opentype'),
		url('fonts/ebrew.woff?-til6o8') format('woff'),
		url('fonts/ebrew.ttf?-til6o8') format('truetype'),
		url('fonts/ebrew.svg?-til6o8#ebrew') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ebrew';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-drainage:before {
	content: "\e600";
}
.icon-icon-renovations:before {
	content: "\e601";
}
.icon-icon-plumbing:before {
	content: "\e602";
}
.icon-icon-hot-water:before {
	content: "\e603";
}
.icon-icon-gas-fitting:before {
	content: "\e604";
}
.icon-icon-gas-appliances:before {
	content: "\e605";
}
